In [1]:
import numpy as np
import scipy.special as sp
import matplotlib.pyplot as plt
from tqdm import tqdm

import LinearModel as lm

import seaborn as sns
sns.set_style('white') 
sns.set_context('talk')

import pandas as pd

from sklearn.model_selection import train_test_split

SyntaxError: invalid syntax (LinearModel.py, line 121)

In [2]:
X_train_pd = pd.read_csv("./data/learn_X.csv", sep=';')
y_train_pd = pd.read_csv("./data/learn_y.csv", sep=';')
X_test_pd = pd.read_csv("./data/test_X.csv", sep=';')

y_train = np.reshape(y_train_pd.values, [-1])
X_train = X_train_pd.values
X_test = X_test_pd.values

In [3]:
np.pi

3.141592653589793

In [4]:
X_train_pd

,Distance from the shop to the nearest subway station,District population,# of people already owning XPhone in this district,Shop's sales assistant haircolor code,Average salary in the district. RUB,Average salary in the city. RUB,# of office centers within 1 km from the shop,Number of competing shops within 1 km from the shop
0,1.132257,5195,67,1,34397,37836.861756,4,7
1,1.860470,6550,416,1,34211,16036.703314,1,19
2,2.852519,5200,683,2,19029,16752.192999,0,17
3,1.878854,1532,37,0,33736,43124.432999,4,2
4,1.356700,9719,2217,1,39449,51204.282187,0,10
5,1.118796,7724,1004,0,51926,39229.752049,2,15
6,1.877867,1116,273,1,37098,36939.416605,1,9
7,0.301564,8497,1897,2,25365,40318.444827,3,3
8,1.138741,5773,1093,1,43211,56010.341837,2,8
9,3.287832,3823,304,0,57849,66171.931064,4,8
10,0.213005,6660,394,1,52502,50017.224372,3,4
11,1.524328,2259,516,1,31025,23326.033506,2,6
12,2.198303,1153,182,2,37417,28555.984834,0,4
13,1.182413,5729,44,2,37792,21027.696952,1,10
14,3.379355,8350,1260,1,25917,27248.352030,3,13
15,1.160595,5083,163,2,26387,28639.450208,3,8
16,2.555857,3307,195,1,20128,22439.590320,2,17
17,2.133708,9777,1129,0,29939,35941.393220,3,11
18,0.957198,6255,1315,2,44571,46397.284328,0,18
19,1.110223,7240,794,1,32518,48691.738133,4,5
20,2.846274,5527,48,2,17440,23311.917966,1,19
21,3.282312,1595,121,2,46912,32731.678288,0,13
22,3.205847,9042,1781,0,29454,22574.880050,3,15
23,3.390851,2765,67,0,36415,42810.116999,1,6
24,2.769024,2278,499,2,16177,14314.801385,2,16
25,1.549111,8738,1789,0,45788,48421.907688,4,5
26,2.750520,9875,2705,2,25769,31946.878374,1,14
27,0.386709,8743,606,2,29714,26506.436854,4,5
28,2.723123,5242,1231,0,47187,25945.855015,2,15
29,0.459769,4412,893,0,45212,46826.893795,2,8
...,...,...,...,...,...,...,...,...
4970,2.170872,5553,564,1,18680,14209.469256,3,15
4971,2.635588,9832,2723,2,50976,51927.487908,0,2
4972,1.505668,7715,2040,2,21193,21083.272629,1,9
4973,0.885788,7760,973,0,48581,62946.855890,3,3
4974,0.185723,3659,69,2,40045,74701.564890,0,5
4975,1.595809,5185,822,1,50026,57686.053704,3,12
4976,1.798340,5390,1408,1,23711,33598.427180,2,18
4977,3.045607,4334,891,2,52782,49812.057074,1,6
4978,0.246000,6146,1440,1,58829,64354.115157,2,9
4979,1.816356,6509,1829,0,37949,40548.368033,3,13
4980,2.541309,3788,339,2,24671,26168.803295,1,14
4981,2.613735,7121,1430,0,38516,37964.394127,0,14
4982,1.300612,9757,2812,1,47786,77401.974886,4,0
4983,1.505297,6370,663,1,38767,61475.201930,1,2
4984,2.520662,3031,285,0,52618,53305.918188,3,12
4985,1.279091,4690,1074,0,30457,31798.483890,3,16
4986,3.197358,6751,1937,2,34116,43883.980037,2,11
4987,1.158053,9462,1229,1,40127,50325.594536,1,6
4988,0.251408,1858,9,2,19851,30455.477871,1,13
4989,1.712183,6721,280,1,15436,16790.639306,0,13
4990,1.125631,5932,1372,1,35120,34995.486849,4,18
4991,0.687283,3632,182,1,26886,37616.560980,3,5
4992,3.376055,1307,171,1,53066,51821.186775,4,7
4993,2.232262,8776,1333,0,25359,35971.476165,0,6
4994,1.507438,5254,232,1,56585,60242.313415,2,0
4995,2.516520,5832,1391,2,21747,18452.939700,4,14
4996,1.500722,6697,1495,0,33651,42084.054351,0,7
4997,0.671735,6754,405,0,16270,21635.873438,3,0
4998,0.761964,1857,102,2,25850,49086.478304,3,17
4999,0.096701,3550,679,2,52895,72106.134561,3,5

In [4]:
def preprocess(X, means, stds):
    X[:,2] = X[:,2]/X[:,1]
    X[:,4] = X[:,4]/X[:,5]
#     X = (X - means)/stds
    X = np.hstack([X[:,:1], X[:,1+1:]])
    X = np.hstack([X[:,:2], X[:,2+1:]])
    X = np.hstack([X[:,:4], X[:,4+1:]])
    return X

In [5]:
print(X_train.shape, y_train.shape, X_test.shape)

(5000, 8) (5000,) (10000, 8)

In [6]:
means = X_train.mean(axis = 0)
stds = X_train.std(axis = 0)

In [7]:
print(means)
print(stds)

[1.76071985e+00 5.47651820e+03 8.17884800e+02 9.89000000e-01
 3.76453014e+04 4.14922977e+04 1.99160000e+00 9.62540000e+00]
[1.01173211e+00 2.58356680e+03 6.51459110e+02 8.23698367e-01
 1.30138238e+04 1.94549569e+04 1.39868847e+00 5.75877373e+00]

In [8]:
X_train = preprocess(X_train, means, stds)
X_test = preprocess(X_test, means, stds)

In [9]:
model = lm.BayesMultiLinearModel(n_models=10, mu=0.00001)

In [10]:
model.fit(X = X_train, p = y_train, epoch=20)

100%|██████████| 20/20 [01:29<00:00,  4.30s/it]

In [11]:
n_models = model.n_models()

In [12]:
n_models

10

In [13]:
mu, B, _, gamma = model.q_distribution()

In [14]:
A, b, beta = model.parameters()

In [15]:
b

array([68535.12273021, 13816.0764913 , 96957.15826895, 18540.1305337 ,
       57834.7099603 , 64085.54274709, 55849.78744064, 44261.30202903,
       54439.80509496, 80729.83980178])

In [16]:
beta

array([7052986.01472126])

In [17]:
gamma

array([ 355.,  264.,  411.,  335.,  411.,  921., 1137.,  321.,  444.,
        401.])

In [18]:
from scipy.stats import multivariate_normal

In [19]:
x = X_train[123]

In [20]:
y_train[123]

73913.480869576

In [21]:
y_test = np.zeros(X_test.shape[0])
u_test = np.zeros(X_test.shape[0])

In [26]:
N = 100
for t in tqdm(range(X_test.shape[0])):
    x = X_test[t]
    list_of_P_1 = []
    list_of_P_2 = []
    for i in range(N):
        P = 0
        pi = np.random.dirichlet(0.00001 + 1*gamma)
        
        k_2 = np.random.choice(n_models, p = pi)
        k_1 = np.argmax(pi)
        
        w = np.random.multivariate_normal(mean = mu[k_1].reshape([-1]), cov = B[k_1], size = 1)
        m_p = b[k_1].reshape([-1]) + np.sum(w*x)
        P_1 = np.random.normal(m_p, np.sqrt(1/beta), size = 1)
        
        w = np.random.multivariate_normal(mean = mu[k_2].reshape([-1]), cov = B[k_2], size = 1)
        m_p = b[k_2].reshape([-1]) + np.sum(w*x)
        P_2 = np.random.normal(m_p, np.sqrt(1/beta), size = 1)
        
        list_of_P_1.append(P_1.sum())
        list_of_P_2.append(P_2.sum())
        
    list_of_P_1 = np.array(list_of_P_1)
    list_of_P_2 = np.array(list_of_P_2)
    y_test[t] = list_of_P_1.mean()
    u_test[t] = list_of_P_2.std()

100%|██████████| 10000/10000 [07:02<00:00, 23.67it/s]

In [23]:
list_of_P = []


N = 100

for i in range(N):
    P = 0
    pi = np.random.dirichlet(0.00001 + 1*gamma)
#     k = np.random.choice(n_models, p = pi)
    k = np.argmax(pi)
#     for k in range(n_models):
    w = np.random.multivariate_normal(mean = mu[k].reshape([-1]), cov = B[k], size = 1)
    m_p = b[k].reshape([-1]) + np.sum(w*x)
#         P += pi[k]*np.random.normal(m_p, np.sqrt(1/beta), size = 1)
    P = np.random.normal(m_p, np.sqrt(1/beta), size = 1)
    list_of_P.append(P.sum())
    
list_of_P = np.array(list_of_P)

In [24]:
list_of_P.mean()

84902.34633481018

In [25]:
list_of_P.std()

0.00040670776400784215

In [28]:
print(y_test.shape)

(10000,)

In [33]:
Ans = np.vstack([y_test, u_test]).T

In [34]:
Ans.shape

(10000, 2)

In [37]:
Answer = pd.DataFrame(Ans)

In [40]:
Answer.to_csv("./answeer.csv")